* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #263849;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #0f81c7;
  border: 1px solid #0f81c7;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 3px;
}

button:hover,
button:active {
  background-color: blue;
  border-color: blue;
}